/.bundle/
/coverage/
/doc/
/Dockerfile
/docker-compose.yml
/docker-compose.override.example.yml
/docker-compose.override.yml
/Gemfile.lock
/gemfiles/*.gemfile.lock
/gemfiles/.bundle/
/log/
/pkg/
/spec/dummy/log/
/spec/dummy/tmp/
/switchman-*.gem
/tmp/
/.ruby-version
