/.bundle/
/.byebug_history
/coverage/
/docker-compose.override.yml
/gemfiles/.bundle/
/log/
/pkg/
/spec/dummy/config/database.yml
/spec/dummy/db/schema.rb
/spec/dummy/log/
/spec/dummy/tmp/
/spec/dummy/.sass-cache
/switchman-*.gem
