/.bundle/
.byebug_history
/coverage/
/docker-compose.override.yml
/gemfiles/.bundle/
/gemfiles/*.lock
/log/
/pkg/
/spec/dummy/db/schema.rb
/spec/dummy/db/structure.sql
/spec/dummy/log/
/spec/dummy/tmp/
/spec/dummy/.sass-cache
/switchman-*.gem