dist: trusty
sudo: false

language: ruby
cache: bundler

rvm:
  - 2.3
  - 2.4

gemfile:
  - gemfiles/activerecord_5.0.gemfile
  - gemfiles/activerecord_5.1.gemfile
  - gemfiles/activerecord_5.2.gemfile
  - gemfiles/activerecord_5.2.3.gemfile

script: bundle exec rake spec

addons:
  postgresql: "9.3"

before_install: gem update bundler
bundler_args: --jobs 3
install: bundle install --jobs 3

before_script:
  - psql -c 'create database "switchman_test";' -U postgres
  - cp spec/dummy/config/database.yml.travis spec/dummy/config/database.yml
  - bundle exec rake db:migrate
